<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:comment>

        // flexform settings
        {aSettings.iRadioSingleView}
        {aSettings.sHeadline}
        {aSettings.sText}
        {aSettings.sPerson}

        // general plugin information
        {iPersonsCount}
        {iRecordUid}

        // in loop oPersons becomes oContact
        {oPersons} > {oContact}

        // available attributes
        {oContact.firstname}
        {oContact.lastname}
        {oContact.gender}
        {oContact.title}
        {oContact.firstname}
        {oContact.middlename}
        {oContact.lastname}
        {oContact.image}
        {oContact.description}
        {oContact.address}
        {oContact.city}
        {oContact.zip}
        {oContact.region}
        {oContact.country}
        {oContact.email}
        {oContact.phone}
        {oContact.mobile}
        {oContact.fax}
        {oContact.website}
        {oContact.birthday}
        {oContact.position}
        {oContact.company}
        {oContact.building}
        {oContact.room}
        {oContact.skype}
        {oContact.twitter}
        {oContact.facebook}
        {oContact.instagram}
        {oContact.snapchat}
        {oContact.linkedin}
        {oContact.xing}
        {oContact.latitude}
        {oContact.longitude}

    </f:comment>

    <f:layout name="Default" />

    <f:section name="content">

        <f:if condition="{iPersonsCount} < 2">
            <f:then>

                <f:if condition="{aSettings.iRadioSingleView} != 0">
                    <f:then>
                        <!-- SINGLE CONTACT -->
                        <f:render partial="Person/SingleContact"
                                  arguments="{oPersons: oPersons, iPersonsCount: iPersonsCount, iRecordUid: iRecordUid, aSettings: aSettings}" />
                    </f:then>
                    <f:else>
                        <!-- MULTIPLE CONTACT -->
                        <f:render partial="Person/MultipleContacts"
                                  arguments="{oPersons: oPersons, iPersonsCount: iPersonsCount, iRecordUid: iRecordUid, aSettings: aSettings}" />
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <!-- MULTIPLE CONTACT -->
                <f:render partial="Person/MultipleContacts"
                          arguments="{oPersons: oPersons, iPersonsCount: iPersonsCount, iRecordUid: iRecordUid, aSettings: aSettings}" />
            </f:else>
        </f:if>


    </f:section>

</div>